// .card{
//     background-color: #f9f9f9;
// }
mat-label{
    font-size: 20px;
    color:black;
    margin-bottom: 10px;
    font-weight: 800;
}
// .heading{
//     // background-color: black;
//     // color:white;
//     margin: 0 auto;
//     align-items: center;
//     font-size: 25px;
//     font-weight: 800;
// }
// .add{
//     margin-right: 0px;
// }
.toolbar {
  justify-content: center;
  font-size: 20px;
}

.form-card {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #eaf6ff;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}